.dashboard-container {
  min-height: 100vh;
}
.card_row {
  flex-wrap: wrap; 
  justify-content: center; 
}
.mini-card {
  background: linear-gradient(135deg, #f0f9ff, #cce7f6);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  color: #fff;
  transition: transform 0.3s ease;
  height: 100%; 
}
.mini-card:hover{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #cce7f6, #a1cfee);
}
.card-text{
  color: #284B63;
}
.mini-card:hover {
  transform: scale(1.03);
}

.custom-icon-class{
  color: #284B63;
}
.card_title{
  color: #284B63;
}
.dash_btn{
  background-color: #284B63;
  width:140px;
}