

accordion-flush>.accordion-item>.accordion-header .accordion-button, .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed {
    border-radius: 10px;
    border: 1px solid rgb(207, 200, 200);
    background-color: rgb(243, 239, 239);
}
.void-card-header{
    background-color: #284B63;
    color: #fff;
}
.acco_body{
  background-color:  linear-gradient(135deg, #f0f9ff, #cce7f6); 
}