/* General Layout */
.alt-dashboard-container {
  display: flex;
  /* background-color: #f7f9fc; */
  /* flex-direction: column; */
  padding: 30px;
  overflow-y: hidden;
 
}

.alt-sidebar {
  width: 270px;
  color: white;
  border-radius: 12px;
  overflow-y: auto;
  height: 83vh;
  background-color: rgba(230, 230, 230, 0.35); /* deeper transparency for more depth */
  box-shadow: 0 2px 24px rgba(2, 51, 83, 0.4); /* softer, deeper shadow for watery depth */
  backdrop-filter: blur(10px) saturate(150%); /* stronger blur + color saturation for a watery glass effect */
  border: 1px solid rgba(255, 255, 255, 0.1); /* subtle inner glow edge */
}


.alt-main-content {
  flex: 1;
  overflow-y: auto;
}

.market-card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 8px;
}

.market-card {
  width: 100%;
  margin-bottom: 10px;
  background-color: #E6F7FF;
  color: #284B63;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 10px;
}

.market-card:hover {
  transform: scale(1.05);
  background-color: #284B63;
  color: #FFF;
}

.market-title {
  color: #3f4a85;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
}

/* User Stats Pop-Up */
.stats-popup {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  /* margin: auto; */
  animation: slideIn 0.4s ease-in-out;
  
}

.stats-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.stat-card {
  background-color: #edf2f8;
  color: #2b3a67;
  text-align: center;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.stat-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.stat-icon {
  font-size: 2rem;
  color: #284B63;
  margin-bottom: 10px;
}

.stat-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.stat-value {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 5px;
}

/* Welcome Card */
.welcome-card {
  background-color: rgb(230, 247, 255);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

.welcome-title {
  color: #2b3a67;
  font-size: 1.6rem;
  font-weight: bold;
}

.welcome-text {
  color: #3a557f;
  font-size: 1.1rem;
}

.close-btn {
  display: block;
  margin: auto;
  
}

/* Animation */
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
