.dropdown-container {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.dropdown-input {
  flex: 1;
  width: 100%;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
  width: 100% !important;
  min-width: unset;
  padding: 10;
  border-radius: 5px;
  background: linear-gradient(to bottom, #ffffff, #f8f9fa);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.dropdown-grid-container {
  overflow-x: auto; /* Ensure horizontal scrolling works inside */
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.grid-list {
  overflow-x: hidden !important; /* Hide unnecessary horizontal scroll */
  overflow-y: auto;
  width: 100% !important;
}

.dropdown-item {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #2c3e50;

  border-bottom: 1px solid #e0e0e0;
  transition: all 0.3s ease-in-out;
}
.dropdown-item:hover {
  background: #4682b4;
  color: white;
  transform: scale(1.2);
  border-radius: 5px;
}

.dropdown-item:last-child {
  border-bottom: none;
}
/* Error Message Styling */
.dropdown-error {
  min-height: 20px; /* Fixed space to prevent form shifting */
  font-size: 10.5px;
  color: red;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

@media (max-width: 768px) {
  .dropdown-menu {
    width: 100%;
  }

  .dropdown-item {
    font-size: 0.8rem;
    padding: 8px;
  }
}
